/** mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
    
}   

/** tablet vertical portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}   

/** desktop screen */
@media screen and (min-width: 1024px) and (max-width: 1369px) {
    
}

/** bigger desktop screen */
@media screen and (min-width: 1370px) {
    #electionsDiv {
        margin-top: 10%;
        margin-bottom: 7%;
        margin-left: 10%;
        width: 80%;
    } .sections {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
    
    #electionsTitle {
        display: inline;
        border-bottom: #C0392B dashed 2px;

        margin-left: 40px;
    } #electionsIntro {
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    #yearsIntro {
        margin-left: 40px;
        margin-right: 40px;
    } #yearsDiv {
        margin-top: 40px;
        margin-left: 40px;
    } #yearsTxt {
        margin-right: 10px;
    } #sltYears {
        width: 5%;
        height: 30px;

        background-color: #FDEBD0;
        color: #000;
        border-color: #000;
    } #chart {
        margin-top: 40px;
    }

    #partidoIntro {
        margin-left: 40px;
        margin-right: 40px;
    } #formPartido {
        margin-top: 40px;
        margin-left: 40px;   
    } #sltPartido, #sltPartidoYear {
        height: 30px;

        background-color: #FDEBD0;
        color: #000;
        border-color: #000;
    } #btnAdd {
        height: 30px;
        background-color: #434343;
        color: #FDEBD0;
        border: none;
        /* border: #C0392B 2px solid; */

    }
}

body {
    background-image: url("../../images/website/images/grey_elements_bg.png");
    background-size: contain;
    background-position: 0% 50%;
    background-repeat: repeat;
}