/** mobile */
@media screen and (min-width: 320px) {
    
}

/** tablet vertical portrait */
@media screen and (min-width: 768px) {
       
}

/** desktop vertical portrait */
@media screen and (min-width: 1024px) {
    .fontNormalSize {
        font-size: 20px;
    } .fontTitleSize {
        font-size: 80px;
    } .fontSubtitleSize {
        font-size: 50px;
    } .fontSubtitleSize2 {
        font-size: 35px;
    } .fontNormalSize2 {
        font-size: 18px;
    }
    
    .fontOutline {
        text-shadow: -0.7px -1px 0 #000, 0.7px -1px 0 #000, -0.7px 1px 0 #000, 0.7px 1px 0 #000;
    } .fontOutlineBig {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    /** MARGIN DIV*/
    .margin {
        margin-left: 10%;
        margin-right: 10%;
    } .mainWidth {
        width: 80%;
    }

    /** NAVBAR */
    #navbarContent {
        width: 80%;
        height: 90px;
    } #logo {
        height: 70%;
    } #links a {
        margin-left: 50px;
    } #links a p {
        font-size: 34px;
    }
    
    /** BUTTONS */
    .btnStart {
        margin-top: 2%;
        border-radius: 20px;
    } .btnStart p {
        font-size: 50px;

        padding-left: 50px;
        padding-right: 50px;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .infoBtn {
        border-width: 2px;

        width: 15px;
        height: 15px;

        margin-left: 5px;
        padding: 3px;
    } .infoBtn p {
        font-size: 14px;
        font-weight: bold;
    }

    /** FOOTER */
    #footer {
        width: 80%;
        padding-top: 7%;
        padding-bottom: 7%;
        
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    } #footerLeft {
        grid-column-start: 1;
    } #footerImg {
        width: 80px;
        height: 80px;
        border-radius: 20px;
    } #footerMiddleRight {
        grid-column-start: 3;
    } #footerRight {
        grid-column-start: 4;
    } #footerLinkTitle {
        margin-bottom: 20%;
    } #footerLink {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}