/** mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
    #bibliography {
        display: flex;
        flex-direction: column;

        margin-top: 15%;
        margin-bottom: 13%;
        margin-left: 10%;
        width: 80%;
    } #charImgAndInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        margin-bottom: 5%;

        height: 200px;
        width: 100%;
    } #charAbout {
        min-height: 400px;
        width: 100%;
    } #charImg {
        margin-left: 40px;
        margin-right: 40px;

        height: 50%;
        width: 30%;

        /* border-bottom: solid #000 2px; */
    } #charInfoDiv {
        display: flex;
        justify-content: center;
        padding-right: 5%;
        width: 80%;
        height: 45%;
    } #charHeader {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        border-bottom: #C0392B dashed 2px;
    } #charGoBack {
        height: 12px;
        cursor: pointer;
    } #charText {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
    } #pages {
        margin-bottom: 20px;
        margin-top: 20px;
    } #pages p {
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    } .active {
        color: #C0392B;
        border-bottom: #C0392B solid 2px;
    } .inactive {
        color: #000;
    }
}   

/** tablet vertical portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #bibliography {
        display: flex;
        flex-direction: column;

        margin-top: 15%;
        margin-bottom: 13%;
        margin-left: 10%;
        width: 80%;
    } #charImgAndInfo {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 5%;

        height: 200px;
        width: 100%;
    } #charAbout {
        min-height: 400px;
        width: 100%;
    } #charImg {
        margin-left: 40px;
        margin-right: 40px;

        height: 50%;
        width: 30%;

        /* border-bottom: solid #000 2px; */
    } #charInfoDiv {
        width: 80%;
        height: 45%;
    } #charInfo {
        /* margin-bottom: 20px; */
    } #charHeader {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        border-bottom: #C0392B dashed 2px;
    } #charGoBack {
        height: 20px;
        cursor: pointer;
    } #charText {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
    } #pages {
        margin-bottom: 20px;
        margin-top: 20px;
    } #pages p {
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    } .active {
        color: #C0392B;
        border-bottom: #C0392B solid 2px;
    } .inactive {
        color: #000;
    }
}   

/** desktop screen */
@media screen and (min-width: 1024px) and (max-width: 1369px) {
    #bibliography {
        display: flex;
        flex-direction: column;

        margin-top: 15%;
        margin-bottom: 13%;
        margin-left: 10%;
        width: 80%;
    } #charImgAndInfo {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 5%;

        height: 200px;
        width: 100%;
    } #charAbout {
        min-height: 400px;
        width: 100%;
    } #charImg {
        margin-left: 40px;
        margin-right: 40px;

        height: 50%;
        width: 30%;

        /* border-bottom: solid #000 2px; */
    } #charInfoDiv {
        width: 80%;
        height: 45%;
    }#charHeader {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        border-bottom: #C0392B dashed 2px;
    } #charGoBack {
        height: 20px;
        cursor: pointer;
    } #charText {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
    } #pages {
        margin-bottom: 20px;
        margin-top: 20px;
    } #pages p {
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    } .active {
        color: #C0392B;
        border-bottom: #C0392B solid 2px;
    } .inactive {
        color: #000;
    }
}

/** bigger desktop screen */
@media screen and (min-width: 1370px) {
    #bibliography {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-top: 10%;
        margin-bottom: 7%;
        margin-left: 10%;
        width: 80%;
        min-height: 500px;
    } #charImgAndInfo {
        display: flex;
        flex-direction: column;
        align-items: center;

        min-height: 500px;
        width: 30%;
    } #charAbout {
        min-height: 500px;
        width: 60%;
    } #charImg {
        margin-top: 40px;

        height: 25%;
        width: 80%;

        border-bottom: solid #000 2px;
    } #charInfoDiv {
        margin-top: 40px;

        width: 80%;
        height: 45%;
    } #charHeader {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        border-bottom: #C0392B dashed 2px;
    } #charGoBack {
        height: 25px;
        cursor: pointer;
    } #charText {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
    } #pages {
        margin-bottom: 20px;
        margin-top: 20px;
    } #pages p {
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    } .active {
        color: #C0392B;
        border-bottom: #C0392B solid 2px;
    } .inactive {
        color: #000;
    }
}

body {
    background-image: url("../../images/website/images/grey_elements_bg.png");
    background-size: contain;
    background-position: 0% 50%;
    background-repeat: repeat;
}