/** mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
    #bibliography {
        display: flex;
        flex-direction: column;

        margin-top: 15%;
        margin-bottom: 13%;
        margin-left: 10%;
        width: 80%;
    } #charImgAndInfo {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 5%;

        height: 200px;
        width: 100%;
    } #charAbout {
        height: 400px;
        width: 100%;
    } #charImg {
        margin-left: 40px;
        margin-right: 40px;

        height: 50%;
        width: 30%;

        /* border-bottom: solid #000 2px; */
    } #charInfoDiv {
        width: 80%;
        height: 45%;
    } #charInfo {
        /* margin-bottom: 20px; */
    } #charHeader {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        border-bottom: #C0392B dashed 2px;
    } #charGoBack {
        height: 20px;
    } #charText {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }
}   

/** tablet vertical portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #bibliography {
        display: flex;
        flex-direction: column;

        margin-top: 15%;
        margin-bottom: 13%;
        margin-left: 10%;
        width: 80%;
    } #charImgAndInfo {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 5%;

        height: 200px;
        width: 100%;
    } #charAbout {
        height: 400px;
        width: 100%;
    } #charImg {
        margin-left: 40px;
        margin-right: 40px;

        height: 50%;
        width: 30%;

        /* border-bottom: solid #000 2px; */
    } #charInfoDiv {
        width: 80%;
        height: 45%;
    } #charInfo {
        /* margin-bottom: 20px; */
    } #charHeader {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        border-bottom: #C0392B dashed 2px;
    } #charGoBack {
        height: 20px;
    } #charText {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }
}   

/** desktop screen */
@media screen and (min-width: 1024px) and (max-width: 1369px) {
    #bibliography {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-top: 10%;
        margin-bottom: 7%;
        margin-left: 10%;
        width: 80%;
        height: 60vh;
    } #charImgAndInfo {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 100%;
        width: 30%;
    } #charAbout {
        height: 100%;
        width: 60%;
    } #charImg {
        margin-top: 40px;

        height: 25%;
        width: 80%;

        border-bottom: solid #000 2px;
    } #charInfoDiv {
        margin-top: 40px;

        width: 80%;
        height: 45%;
    } #charInfo {
        /* margin-bottom: 20px; */
    } #charHeader {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        border-bottom: #C0392B dashed 2px;
    } #charGoBack {
        height: 20px;
    } #charText {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }
}

/** bigger desktop screen */
@media screen and (min-width: 1370px) {
    #bibliography {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-top: 10%;
        margin-bottom: 7%;
        margin-left: 10%;
        width: 80%;
        height: 60vh;
    } #charImgAndInfo {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 100%;
        width: 30%;
    } #charAbout {
        height: 100%;
        width: 60%;
    } #charImg {
        margin-top: 40px;

        height: 25%;
        width: 80%;

        border-bottom: solid #000 2px;

        /* background-image: url("../../images/website/images/char_girl.png");
        background-size: contain;
        background-position: 0% 50%;
        background-repeat: no-repeat; */
    } #charInfoDiv {
        margin-top: 40px;

        width: 80%;
        height: 45%;
    } #charInfo {
        /* margin-bottom: 20px; */
    } #charHeader {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        border-bottom: #C0392B dashed 2px;
    } #charGoBack {
        height: 25px;
    } #charText {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }
}

body {
    background-image: url("../../images/website/images/grey_elements_bg.png");
    background-size: contain;
    background-position: 0% 50%;
    background-repeat: repeat;
}