/** mobile */
@media screen and (min-width: 320px) and (max-width: 767px)  {
    body {
        background-image: url("../../images/website/images/grey_elements_bg.png");
        background-size: contain;
        background-position: 0% 50%;
        background-repeat: repeat;
    }
    
    #timelineContent {
        padding-top: 25%; /* 10 */
    } #titleIntroJogos {
        width: 80%;
    } #titleIntroJogos p {
        border-bottom: #FDEBD0 dashed 2px;
    } #introJogos {
        width: 80%;
        margin-top: 20px;
    } #txtIntroJogos {
       display: inline;
    } #aTxtIntroJogos {
        /* border-bottom-style: dashed;
        border-width: 1px; */
    }

    /** YEAR GAME LIST TITLE */
    .yearGameTitle {
        width: 10%;
        border-bottom: solid #C0392B;
        border-radius: 5px;
    } .yearGameTitle2 {
        width: 70%;
        border-bottom: solid #C0392B;
        border-radius: 5px;
    }

    /** GAME LIST */
    #gameSection {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        margin-bottom: 50px;
    } #gameList {
        width: 80%;
        display: grid;
        grid-template-columns: 46% 46%;
        grid-auto-rows: 150px;
        row-gap: 20px;
        column-gap: 8%;
    } .divGame {
        width: 100%;
        height: 150px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } #divGameTitle {
        width: 100%;
    } #divGameImg {
        width: 100%;
        height: 85%;

        border-radius: 20px;
    }

    #sorry {
        display: flex;
        width: 100%;
        height: 40vh;
        margin-bottom: 20%;
        margin-top: 25px;
    } #sorry div {
        width: 70%;
        height: 100%;
    } #sorry p {
        text-align: center;
    } #sorry img {
        height: 30%;
    }
    
    #gameTitle {
        display: none;
    } #gameSection {
        display: none;
    }
}

/** tablet vertical portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        background-image: url("../../images/website/images/grey_elements_bg.png");
        background-size: contain;
        background-position: 0% 50%;
        background-repeat: repeat;
    }

    #timelineContent {
        padding-top: 20%; /* 10 */
    } #titleIntroJogos {
        width: 80%;
    } #titleIntroJogos p {
        border-bottom: #FDEBD0 dashed 2px;
    } #introJogos {
        width: 80%;
        margin-top: 50px;
    } #txtIntroJogos {
       display: inline;
    } #aTxtIntroJogos {
        /* border-bottom-style: dashed;
        border-width: 1px; */
    }

    /** YEAR GAME LIST TITLE */
    .yearGameTitle {
        width: 10%;
        border-bottom: solid #C0392B;
        border-radius: 5px;
    } .yearGameTitle2 {
        width: 70%;
        border-bottom: solid #C0392B;
        border-radius: 5px;
    }

    /** GAME LIST */
    #gameSection {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        margin-bottom: 100px;
    } #gameList {
        width: 80%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-auto-rows: 180px;
        row-gap: 40px;
        column-gap: 5%;
    } .divGame {
        width: 100%;
        height: 180px;
    } #divGameTitle {
        width: 100%;
        height: 20%;
    } #divGameImg {
        width: 100%;
        height: 80%;

        border-radius: 20px;
    }

    #sorry {
        display: flex;
        width: 100%;
        height: 40vh;
        margin-bottom: 10%;
    } #sorry div {
        width: 70%;
        height: 100%;
    } #sorry p {
        text-align: center;
    } #sorry img {
        height: 30%;
    }
    
    #gameTitle {
        display: none;
    } #gameSection {
        display: none;
    }
}

/** desktop screen */
@media screen and (min-width: 1024px) and (max-width: 1369px)  {
    body {
        background-image: url("../../images/website/images/grey_elements_bg.png");
        background-size: contain;
        background-position: 0% 50%;
        background-repeat: repeat;
    }

    #timelineContent {
        padding-top: 14%; /* 10 */
    } #titleIntroJogos {
        width: 80%;
    } #titleIntroJogos p {
        border-bottom: #FDEBD0 dashed 2px;
    } #introJogos {
        width: 80%;
        margin-top: 50px;
        margin-bottom: 80px;
    } #txtIntroJogos {
       display: inline;
    } #aTxtIntroJogos {
        /* border-bottom-style: dashed;
        border-width: 1px; */
    }

    #sorry {
        display: flex;
        width: 100%;
        height: 50vh;
        margin-bottom: 10%;
    } #sorry div {
        width: 70%;
        height: 100%;
    } #sorry p {
        text-align: center;
    } #sorry img {
        height: 50%;
    }
    
    #gameTitle {
        display: none;
    } #gameSection {
        display: none;
    }
}

/** bigger desktop screen */
@media screen and (min-width: 1370px) {
    body {
        background-image: url("../../images/website/images/grey_elements_bg.png");
        background-size: contain;
        background-position: 0% 50%;
        background-repeat: repeat;
    }

    #timelineContent {
        padding-top: 10%;
    } #titleIntroJogos {
        width: 80%;
    } #titleIntroJogos p {
        border-bottom: #FDEBD0 dashed 2px;
    } #introJogos {
        width: 80%;
        margin-top: 50px;
        margin-bottom: 80px;
    } #txtIntroJogos {
       display: inline;
    } #aTxtIntroJogos {
        /* border-bottom-style: dashed;
        border-width: 1px; */
    }

    /** YEAR GAME LIST TITLE */
    .yearGameTitle {
        width: 10%;
        border-bottom: solid #C0392B;
        border-radius: 5px;
    } .yearGameTitle2 {
        width: 60%;
        border-bottom: solid #C0392B;
        border-radius: 5px;
    }

    /** GAME LIST */
    #gameSection {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        margin-bottom: 100px;
    } #gameList {
        width: 80%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-auto-rows: 250px;
        row-gap: 40px;
        column-gap: 5%;
    } .divGame {
        width: 100%;
        height: 250px;
        cursor: pointer;
    } #divGameTitle {
        width: 100%;
        height: 20%;
    } #divGameImg {
        width: 100%;
        height: 80%;

        border-radius: 20px;
    }

    /** EACH GAME */
    #persecution div {
        background-image: url("../../images/games/thumbnails/persecution_thumbnail.jpg");
        background-size: cover;
        background-position: 0% 50%;
        background-repeat: no-repeat;
    } #basketFood div {
        background-image: url("../../images/games/thumbnails/basketFood_thumbnail.jpg");
        background-size: cover;
        background-position: 0% 50%;
        background-repeat: no-repeat;
    } #bricks div {
        background-image: url("../../images/games/thumbnails/bricks_thumbnail.png");
        background-size: cover;
        background-position: 0% 50%;
        background-repeat: no-repeat;
    } #censorship div {
        background-image: url("../../images/games/thumbnails/censorship_thumbnail.png");
        background-size: cover;
        background-position: 50% 0%;
        background-repeat: no-repeat;
    }

    #sorry {
        display: none;
    } #gameTitle {
        display: flex;
    } #gameSection {
        display: flex;
    }
}