/** mobile */
@media screen and (min-width: 320px) {
    
}

/** tablet vertical portrait */
@media screen and (min-width: 768px) {
       
}

/** desktop vertical portrait */
@media screen and (min-width: 1024px) {
    /** FIGURAS/GRUPOS IMPORTANTES */
    #figuresContent {
        padding-top: 10%;
        padding-bottom: 10%;
    } #figuresTxt {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    #figuresImgDiv a {
        width: 100px;
        height: 100px;
        border: solid #000;
        border-radius: 100px;
        margin-right: 15px;
    }

    /** LINHA DO TEMPO */
    #timelineTxt {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    #yearsBar {
        width: 15px;
        height: 800px;
        border-radius: 7.5px;
    } #yearsBarFilled {
        width: 100%;
        border-radius: 7.5px;

        height: 20%; /* VALUE WILL CHANGE WITH JAVASCRIPT */
    }

    .yearActive {
        font-size: 50px;
        color: #C0392B;
    } .yearInactive {
        font-size: 30px;
        color: #FDEBD0;
    }
}