/** mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
    body {
        background-image: url("../../images/website/images/grey_elements_bg.png");
        background-size: contain;
        background-position: 0% 50%;
        background-repeat: repeat;
    }
    
    /** FIGURAS/GRUPOS IMPORTANTES */
    #figuresContent {
        padding-top: 30%;
        padding-bottom: 20%;
        text-wrap: pretty;
    } #figuresTxt {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    #figuresImgDiv {
        display: grid;
        grid-template-columns: repeat(auto-fit, 15%);
        row-gap: 15px;
        column-gap: 15px;
    } #figuresImgDiv a {
        width: 50px; /* 100 */
        height: 50px; /* 100 */
        border: solid #000;
        border-width: 2px;
        border-radius: 100px;
        margin-right: 15px;
    }

    /** TIMELINE */
    #timelineIntro {
        margin-top: 5%;
        margin-bottom: 5%;
        text-wrap: pretty;
    } #timelineSection {
        margin-bottom: 15%;
    }

    /** TIMELINE */
    #timelineContent {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        width: 80%;
    }

    #timelineBar {
        display: none;
    } #timelineContent {
        height: 80vh; /* 800 */
        margin-bottom: 70px;
    } #timelineBarM {
        height: 15px;
        border-radius: 7.5px;
        z-index: 2;
        width: 100%;
    } #alwaysFilledM {
        border-top-left-radius: 7.5px;
        border-bottom-left-radius: 7.5px;
    } .timelineSectionBarM {
        width: 12.5%;
        height: 100%;
    }

    /** balls format of timeline vertical bar */
    .timelineBallM {
        width: 20px;
        height: 20px;
        border-radius: 12.5px;
        margin-left: 10px;

        position: relative;
        top: -2.5px; /* height/2 - bar_height/2 */
        left: 10px;
    } .activeBall {
        background-color: #C0392B;
        border: solid #C0392B;
        color: #C0392B;
        border-width: 1px;
    } .inactiveBall {
        background-color: #FDEBD0;
        border: solid #000;
        color: #FDEBD0;
        border-width: 1px;
    } .timelineBallM p {
        font-size: 8px;

        position: relative;
        top: -20px;
        left: -6px;
    }

    /** TIMELINE DESCRIPTION/INFO CONTENT */
    #timelineDescriptionBg {
        height: 100%;
        width: 100%;
        
        position: relative;
        top: -5px;

        background-image: url("../../images/website/images/pgPrincipal2.png");
        background-size: cover;
        background-repeat: no-repeat;
    } #timelineDescription {
        height: 100%;
        width: 100%;

        background-image: linear-gradient(to right, #434343e8 , #434343);
    } #timelineDescription div {
        width: 80%;
        margin-top: 80px;
    } #timelineTxt {
        margin-top: 20px;
        margin-bottom: 20px;
    } #timelineDescriptionPages {
        margin-bottom: 40px;
    } #timelineDescriptionPages p {
        margin-left: 5%;
        margin-right: 5%;
    } #timelineDescriptionPages p {
        cursor: pointer;
    }
}

/** tablet vertical portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        background-image: url("../../images/website/images/grey_elements_bg.png");
        background-size: contain;
        background-position: 0% 50%;
        background-repeat: repeat;
    }

    /** FIGURAS/GRUPOS IMPORTANTES */
    #figuresContent {
        padding-top: 20%;
        padding-bottom: 15%;
        text-wrap: pretty;
    } #figuresTxt {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    #figuresImgDiv {
        display: grid;
        grid-template-columns: repeat(auto-fit, 15%);
        row-gap: 15px;
        column-gap: 15px;
    } #figuresImgDiv a {
        width: 75px; /* 100 */
        height: 75px; /* 100 */
        border: solid #000;
        border-radius: 100px;
        margin-right: 15px;
    }

    /** TIMELINE */
    #timelineSection {
        margin-bottom: 80px;
    } #timelineIntro {
        margin-top: 5%;
        text-wrap: pretty;
    }

    #timelineContent {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        width: 80%;
    }

    #timelineBar {
        display: none;
    } #timelineContent {
        height: 900px; /* 800 */
        margin-bottom: 100px;
    } #timelineBarM {
        height: 15px;
        border-radius: 7.5px;
        width: 100%;
        z-index: 2;
    } #alwaysFilledM {
        border-top-left-radius: 7.5px;
        border-bottom-left-radius: 7.5px;
    } .timelineSectionBarM {
        width: 12.5%;
        height: 100%;
    }

    /** balls format of timeline vertical bar */
    .timelineBallM {
        width: 20px;
        height: 20px;
        border-radius: 12.5px;
        margin-left: 10px;

        position: relative;
        top: -2.5px; /* height/2 - bar_height/2 */
        left: 10px;
    } .activeBall {
        background-color: #C0392B;
        border: solid #C0392B;
        color: #C0392B;
        border-width: 1px;
    } .inactiveBall {
        background-color: #FDEBD0;
        border: solid #000;
        color: #FDEBD0;
        border-width: 1px;
    } .timelineBallM p {
        font-size: 15px;

        position: relative;
        top: -25px;
        left: -15px;
    }

    /** TIMELINE DESCRIPTION/INFO CONTENT */
    #timelineDescriptionBg {
        height: 100%;
        width: 100%;
        
        position: relative;
        top: -5px;

        background-image: url(../../images/website/images/pgPrincipal2.png);
        background-size: cover;
        background-repeat: no-repeat;
    } #timelineDescription {
        height: 101%;
        width: 102%;

        position: relative;
        left: -1%;

        background-image: linear-gradient(to right, #434343e8 , #434343);
    } #timelineDescription div {
        width: 80%;
        margin-top: 80px;
    } #timelineTxt {
        margin-top: 20px;
        margin-bottom: 20px;
    } #timelineDescriptionPages {
        margin-bottom: 40px;
    } #timelineDescriptionPages p {
        margin-left: 5%;
        margin-right: 5%;
    } #timelineDescriptionPages p {
        cursor: pointer;
    }
}

/** desktop screen */
@media screen and (min-width: 1024px) and (max-width: 1369px) {
    body {
        background-image: url("../../images/website/images/grey_elements_bg.png");
        background-size: contain;
        background-position: 0% 50%;
        background-repeat: repeat;
    }

    /** FIGURAS/GRUPOS IMPORTANTES */
    #figuresContent {
        padding-top: 14%;
        padding-bottom: 10%;
    } #figuresTxt {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    #figuresImgDiv {
        display: grid;
        grid-template-columns: repeat(auto-fit, 10%);
        row-gap: 15px;
        column-gap: 15px;
    } #figuresImgDiv a {
        width: 75px; /* 100 */
        height: 75px; /* 100 */
        border: solid #000;
        border-radius: 100px;
        margin-right: 15px;
    }

    /** TIMELINE */
    #timelineSection {
        margin-bottom: 40px;
    } #timelineIntro {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    #timelineBarM {
        display: none;
    }

    #timelineContent {
        display: flex;
        flex-direction: row;

        height: 600px; /* 800 */
        width: 80%;
        padding-left: 10%;
        /* padding-right: 10%; */

        margin-bottom: 80px;
    } #timelineBar {
        width: 15px;
        height: 100%;
        border-radius: 7.5px;
    } #alwaysFilled {
        border-top-left-radius: 7.5px;
        border-top-right-radius: 7.5px;
    } .timelineSectionBar {
        height: 12.5%;
        width: 100%;
    }

    /** balls format of timeline vertical bar */
    .timelineBall {
        width: 25px;
        height: 25px;
        border-radius: 12.5px;

        position: relative;
        left: -5px; /* bar_width/2 - ball_width/2 */
        top: 12.5px;
        cursor: pointer;
    } .activeBall {
        background-color: #c03a2b;
        border: solid #C0392B;
        color: #C0392B;
        border-width: 1px;
    } .inactiveBall {
        background-color: #FDEBD0;
        border: solid #000;
        color: #FDEBD0;
        border-width: 1px;
    } .timelineBall p {
        position: relative;
        left: -65px;
    }

    /** TIMELINE DESCRIPTION/INFO CONTENT */
    #timelineDescriptionBg {
        height: 100%;
        width: 100%;

        background-image: url(../../images/website/images/pgPrincipal2.png);
        background-size: cover;
        background-repeat: no-repeat;
    } #timelineDescription {
        height: 100%;
        width: 101%;

        background-image: linear-gradient(to right, #434343e8 , #434343);
    } #timelineDescription div {
        width: 80%;
        margin-top: 80px;
    } #timelineTxt {
        margin-top: 20px;
        margin-bottom: 20px;
    } #timelineDescriptionPages {
        margin-bottom: 40px;
    } #timelineDescriptionPages p {
        margin-left: 5px;
        margin-right: 5px;
    } #timelineDescriptionPages p {
        cursor: pointer;
    }
}

/** bigger desktop screen */
@media screen and (min-width: 1370px) {
    body {
        background-image: url("../../images/website/images/grey_elements_bg.png");
        background-size: contain;
        background-position: 0% 50%;
        background-repeat: repeat;
    }

    /** FIGURAS/GRUPOS IMPORTANTES */
    #figuresContent {
        padding-top: 10%;
        padding-bottom: 10%;
    } #figuresTxt {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    /* figuras importantes */
    #figuresImgDiv {
        /* border-bottom: #FDEBD0 solid 2px; */
        display: grid;
        grid-template-columns: repeat(auto-fit, 10%);
        row-gap: 15px;
        column-gap: 15px;
    } #figuresImgDiv a {
        width: 100px;
        height: 100px;
        /* background-color: #FDEBD0; */
        border: solid #000 2px;
        border-radius: 100px;
        /* margin-right: 15px; */
        cursor: pointer;
    }

    /** TIMELINE */
    #timelineIntro {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    /** TIMELINE */
    #timelineContent {
        display: flex;
        flex-direction: row;

        margin-bottom: 150px;
    }

    #timelineBarM {
        display: none;
    } #timelineContent {
        height: 800px; /* 800 */
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    } #timelineBar {
        width: 15px;
        height: 100%;
        border-radius: 7.5px;
    } #alwaysFilled {
        border-top-left-radius: 7.5px;
        border-top-right-radius: 7.5px;
    } .timelineSectionBar {
        height: 12.5%;
        width: 100%;
    }

    /** balls format of timeline vertical bar */
    .timelineBall {
        width: 25px;
        height: 25px;
        border-radius: 12.5px;

        position: relative;
        left: -5px; /* bar_width/2 - ball_width/2 */
        top: 12.5px;
        cursor: pointer;
    } .activeBall {
        background-color: #c03a2b;
        border: solid #C0392B;
        color: #C0392B;
        border-width: 1px;
    } .inactiveBall {
        background-color: #FDEBD0;
        border: solid #000;
        color: #FDEBD0;
        border-width: 1px;
    } .timelineBall p {
        position: relative;
        left: -65px;
    }

    /** TIMELINE DESCRIPTION/INFO CONTENT */
    #timelineDescriptionBg {
        height: 100%;
        width: 100%;

        background-image: url(../../images/website/images/pgPrincipal2.png);
        background-size: cover;
        background-repeat: no-repeat;
    } #timelineDescription {
        height: 100%;
        width: 100%;

        background-image: linear-gradient(to right, #434343e8 , #434343);
    } #timelineDescription div {
        width: 80%;
        margin-top: 80px;
    } #timelineTxt {
        margin-top: 20px;
        margin-bottom: 20px;
    } #timelineDescriptionPages {
        margin-bottom: 40px;
    } #timelineDescriptionPages p {
        margin-left: 5px;
        margin-right: 5px;
    } #timelineDescriptionPages p {
        cursor: pointer;
    }

    #timelineSection {
        margin-bottom: 100px;
    }


}

/* figuras importantes */
#boy {
    background-image: url("../../images/website/images/char_boy.png");
    background-size: contain;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
} #girl {
    background-image: url("../../images/website/images/char_girl.png");
    background-size: contain;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
} #woman {
    background-image: url("../../images/website/images/char_woman.png");
    background-size: contain;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
} #woman {
    background-image: url("../../images/website/images/char_woman.png");
    background-size: contain;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
} #poorMan {
    background-image: url("../../images/website/images/char_man_poor.png");
    background-size: contain;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
} #richMan {
    background-image: url("../../images/website/images/char_man_rich.png");
    background-size: contain;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
} #military {
    background-image: url("../../images/website/images/char_military_MFA.png");
    background-size: contain;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
} #humbergo {
    background-image: url("../../images/website/images/char_humberto_delgado.png");
    background-size: contain;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
} #PIDE {
    background-image: url("../../images/website/images/char_agent_PIDE.png");
    background-size: contain;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
}