/** mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
    .sectionsHeight {
        height: 300px; /* 500 */
    }

    #firstSection p {
        width: 60%;
        text-align: center;
    }
    
    #secondSection {
        height: 500px;
    } #secondContent {
        display: flex;
        flex-direction: column;
    } #secondContent img {
        width: 100%;
    } #secondSectionTxt {
        width: 100%;
        margin-top: 20px;
        text-wrap: pretty;
    }

    #thirdSection {
        margin-top: 50px;
        margin-bottom: 50px;
    } #contentCreditsTxt {
        margin: 40px;
        text-wrap: pretty;
    }  
}

/** tablet vertical portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .sectionsHeight {
        height: 500px; /* 500 */
    }
    
    #secondSection {
        height: 700px;
    } #secondContent {
        display: flex;
        flex-direction: column;
    } #secondContent img {
        width: 100%;
    } #secondSectionTxt {
        width: 100%;
        margin-top: 20px;
        text-wrap: pretty;
    }

    #thirdSection {
        margin-top: 50px;
        margin-bottom: 50px;
    } #contentCreditsTxt {
        margin: 80px;
        text-wrap: pretty;
    }  
}

/** desktop screen */
@media screen and (min-width: 1024px) and (max-width: 1369px) {
    .sectionsHeight {
        height: 400px; /* 500 */
    }
    
    #secondSection {
        height: 400px; /* 500 */
    } #secondContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    } #secondContent img {
        width: 40%;
    } #secondSectionTxt {
        width: 55%;
        text-wrap: pretty;
    }

    #thirdSection {
        margin-top: 50px;
        margin-bottom: 50px;
    } #contentCreditsTxt {
        margin: 80px;
        text-wrap: pretty;
    }
}

/** bigger desktop screen */
@media screen and (min-width: 1370px) {
    .sectionsHeight {
        height: 500px;
    }

    #secondSection {
        height: 500px;
    } #secondContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    } #secondContent img {
        width: 40%;
    } #secondSectionTxt {
        width: 55%;
    }

    #thirdSection {
        margin-top: 50px;
        margin-bottom: 50px;
    } #contentCreditsTxt {
        margin: 80px;
    }
}

body {
    background-image: url("../../images/website/images/grey_elements_bg.png");
    background-size: contain;
    background-position: 0% 50%;
    background-repeat: repeat;
}